/* body */
body
{
    font-family: 'Roboto Mono', monospace;
}

#container
{
    height: 100vh;
    width: 100vw;
    background-color: orange;
    background-image: linear-gradient(to right, orange, blueviolet)
}

/* calculator */
#calc
{
    padding: 1em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}



/* display */
#display
 {
    text-align: right;    
    background-color: turquoise;
    background-image: linear-gradient(to left, palegreen, turquoise);
    /* background-image: url(glassBG.jpg); */
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    padding: 0 25px;   
} 

/* keyboard */
.line
{
    display: flex;
    justify-content: space-between;
}

.button
{   
    font-weight: bold;
    color: whitesmoke;
    background-color: blueviolet;
    background-image: linear-gradient(navy, blueviolet);
    width: 5em;
    max-width: 24%;
    height: 4em;
    max-height: 15%;
    margin: 2px 0;
    border: transparent;
    border-radius: 20px;
}